@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --Blanco_antiguo: #faf9f6;
  --Gris_pizarra: #2e2e2e;
  --Marfil: #fffaf0;
  --Gris_perla: #e0e0e0;
  --Negro_carbon: #222222;
  --Azul_lavanda: #c5cae9;
  --Verde_menta: #98ff98;
  --Rosa_cuarzo: #f7cac9;
  --Amarillo_suave: #fffacd;
  --Beige_arena: #f5f5dc;
  --Azul_real: #4169e1;
  --Naranja_coral: #ff6f61;
  --Verde_esmeralda: #50c878;
  --Amarillo_dorado: #ffd700;
  --Rojo_carmín: #960018;
  --Azul_medianoche: #191970;
  --Verde_bosque: #228b22;
  --Rojo_vino: #800000;
  --Gris_oscuro: #333333;
  --Azul_acero: #4682b4;
  --Blanco_humo: #f5f5f5;
  --Verde_oliva_claro: #b5c58f;
  --Gris_claro: #d3d3d3;
  --Negro_ónix: #353839;
  --Azul_grisáceo: #b0c4de;
  --negro_sombras: rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1rem;
}

.titulo_principal {
  text-transform: uppercase;
  text-shadow: 2px 2px 4px var(--negro_sombras);
  letter-spacing: 0.5rem;
}

.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--Azul_acero);
  width: 95%;
  border-radius: 1rem;
  box-shadow: 5px 5px 2px 0px var(--Gris_oscuro);
  margin: 0 auto;
}

.navegador_enlaces {
  color: var(--Beige_arena);
  text-decoration: none;
}

.navegador_enlaces:hover {
  color: var(--Amarillo_dorado);
  background-color: var(--Azul_medianoche);
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: underline;
}

.navegador_enlaces--activo {
  color: var(--Amarillo_dorado);
  background-color: var(--Negro_carbon);
  border-radius: 1rem;
  padding: 1rem;
}

.contenedor_banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 1rem;
  width: 95%;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-position: center;
  height: 300px;
  margin-top: 1rem;
  width: 95%;
}

#carouselExampleRide {
  max-width: 600px;
  margin: 0 auto;
}

.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.carrusel {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

.cta-boton {
  display: block;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  color: var(--Blanco_antiguo);
  background-color: var(--Azul_acero);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}

.cta-boton:hover {
  background-color: var(--Azul_real);
  transform: scale(1.05);
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.footer_h2 {
  text-align: center;
  padding-top: 1rem;
}

.footer_bg {
  background-color: var(--Gris_claro);
}

.footer_icono a i {
  font-size: 3rem;
  margin: 0 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
  color: #333;
  cursor: pointer;
  display: inline-block;
}

.footer_icono a:hover i {
  transform: scale(1.3);
  color: #007bff;
}

.parrafos_informacion {
  text-align: justify;
}

.nav_footer a {
  color: #000;
  transition: all 0.3s ease;
}

.nav_footer a:hover {
  color: var(--Azul_real);
  text-decoration: underline;
  transform: scale(1.05);
}

.boton {
  background-color: var(--Gris_oscuro);
  color: var(--Amarillo_suave);
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.boton:hover {
  background-color: var(--Gris_claro);
  color: var(--Azul_medianoche);
  transform: scale(1.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.id incendios {
  transition: background 0.3s ease;
}

.id incendios:hover {
  background-color: #000;
  transform: scale(1.1);
}

.label {
  color: var(--Azul_acero);
}

.formulario {
  background-color: var(--Negro_carbon);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 10rem;
}

.input {
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--Amarillo_dorado);
  color: greenyellow;
  margin: 5px auto;
  padding: 1rem;
}

.submit {
  width: 30%;
  background-color: var(--Negro_ónix);
  color: var(--Blanco_humo);
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  transition: background 0.5s ease, transform 0.3s ease;
}

.submit:hover {
  background: var(--Gris_pizarra);
  transform: scale(1.1);
  color: var(--Azul_acero);
}
