:root {
  --Blanco_antiguo: #faf9f6;
  --Gris_pizarra: #2e2e2e;
  --Marfil: #fffaf0;
  --Gris_perla: #e0e0e0;
  --Negro_carbon: #222222;
  --Azul_lavanda: #c5cae9;
  --Verde_menta: #98ff98;
  --Rosa_cuarzo: #f7cac9;
  --Amarillo_suave: #fffacd;
  --Beige_arena: #f5f5dc;
  --Azul_real: #4169e1;
  --Naranja_coral: #ff6f61;
  --Verde_esmeralda: #50c878;
  --Amarillo_dorado: #ffd700;
  --Rojo_carmín: #960018;
  --Azul_medianoche: #191970;
  --Verde_bosque: #228b22;
  --Rojo_vino: #800000;
  --Gris_oscuro: #333333;
  --Azul_acero: #4682b4;
  --Blanco_humo: #f5f5f5;
  --Verde_oliva_claro: #b5c58f;
  --Gris_claro: #d3d3d3;
  --Negro_ónix: #353839;
  --Azul_grisáceo: #b0c4de;
  --blanco_sombras: rgba(255, 255, 255, 0.5);
  --oscuro: #504b49;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1rem;
  background-color: var(--Negro_carbon);
  color: var(--Blanco_humo);
  font-family: "Geist Mono";
}

.titulo_principal {
  text-transform: uppercase;
  text-shadow: 2px 2px 4px var(--negro_sombras);
  letter-spacing: 0.5rem;
  font-family: "Geist Mono";
  font-weight: 900;
  color: var(--Blanco_humo);
  text-shadow: 2px 2px 4px var(--blanco_sombras);
}

.navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--oscuro);
  width: 95%;
  border-radius: 1rem;
  margin: 0 auto;
  font-family: "Geist Mono";
  font-weight: 900;
  font-size: 2rem;
  box-shadow: 0px 4px 8px var(--Azul_medianoche);
}

.navegador_enlaces {
  color: var(--Beige_arena);
  text-decoration: none;
}

.navegador_enlaces:hover {
  color: var(--Amarillo_dorado);
  background-color: var(--Verde_bosque);
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: underline;
}

.navegador_enlaces--activo {
  color: var(--Amarillo_dorado);
  background-color: var(--Negro_carbon);
  border-radius: 1rem;
  padding: 1rem;
}

.contenedor_banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 1rem;
  width: auto;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-position: center;
  height: 300px;
  margin-top: 1rem;
  width: 95%;
}

#carousel {
  max-width: 900px;
  margin: 0 auto;
  width: auto;
}

.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.carrusel {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

.cta-boton {
  display: block;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  color: var(--Blanco_antiguo);
  background-color: var(--oscuro);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 3rem;
}

.cta-boton:hover {
  background-color: var(--Azul_real);
  transform: scale(1.05);
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.2);
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.footer_bg {
  background-color: var(--Gris_oscuro);
}

.bg_card_desastres {
  color: var(--Verde_esmeralda);
  background-color: var(--Gris_pizarra);
  border-top: 2px solid var(--Rosa_cuarzo);
}

.parrafos_informacion {
  text-align: justify;
}

.boton {
  background-color: var(--Gris_oscuro);
  color: var(--Amarillo_suave);
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.boton:hover {
  background-color: var(--Gris_claro);
  color: var(--Azul_medianoche);
  transform: scale(1.1);
}

.card-img-top {
  height: 100%;
  object-fit: cover;
  height: 200px;
}

.label {
  color: var(--Blanco_antiguo);
}

.formulario {
  background-color: var(--Negro_carbon);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 10rem;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--Amarillo_dorado);
  border-left: 1px solid var(--Amarillo_dorado);
  color: greenyellow;
  margin: 5px auto;
  padding: 1rem;
}

.submit {
  width: 30%;
  background-color: var(--Negro_ónix);
  color: var(--Blanco_humo);
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  transition: background 0.5s ease, transform 0.3s ease;
}

.submit:hover {
  background: var(--Gris_pizarra);
  transform: scale(1.1);
  color: var(--Azul_acero);
}

.hover {
  transform: 0.3s ease;
  color: var(--Blanco_humo);
}

.hover:hover {
  transform: scale(1.5);
  color: var(--Azul_acero);
}

.card-img-top2 {
  width: 100%;
  height: auto;
  max-height: 250px;
}

.card-text {
  word-wrap: break-word;
  font-size: 1.5rem;
  line-height: 1.5;
}

.modal-header {
  font-family: "Geist Mono";
  font-weight: 900;
  font-size: 1rem;
  color: var(--Blanco_humo);
}

.texto_v_modal {
  font-family: "Geist Mono";
  font-weight: 500;
  color: var(--Azul_grisáceo);
  letter-spacing: 0.2rem;
  text-align: justify;
  font-size: 2rem;
}

.subtitulos_v_modal {
  color: var(--Amarillo_suave);
  font-family: "Geist Mono";
  font-weight: 900;
  font-size: 2.5rem;
}

.texto_fotos {
  font-family: "Geist Mono";
  font-weight: 100;
  font-size: 1.3rem;
  text-align: justify;
}

.v_modal_h3 {
  color: var(--Verde_bosque);
  font-family: "Geist Mono";
  font-weight: 500;
  font-size: 1.9rem;
}

.texto_pre_v_modal {
  font-family: "Geist Mono";
  font-weight: 500;
  color: var(--Azul_lavanda);
  letter-spacing: 0.1rem;
  text-align: justify;
  font-size: 1.5rem;
}

.subtitulos_v_modal_pre {
  color: var(--Amarillo_suave);
  font-family: "Geist Mono";
  font-weight: 900;
  font-size: 2.5rem;
}

.texto_negrita_pre_v_modal {
  font-family: "Geist Mono";
  font-weight: 700;
  color: var(--Naranja_coral);
  letter-spacing: 0.1rem;
  text-align: justify;
  font-size: 1.9rem;
}

.bg_cards_pre {
  background-color: var(--oscuro);
  border: 1px solid var(--Beige_arena);
  color: var(--Gris_claro);
}
